<!DOCTYPE html>
<html>

<head>

<title>Success</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

<div class="container mt-5">

<div class="card shadow p-5">

<h2 class="text-success">

Registration Successful 🎉

</h2>

<hr>

<p><strong>Name :</strong> <%= student.name %></p>

<p><strong>Email :</strong> <%= student.email %></p>

<p><strong>Phone :</strong> <%= student.phone %></p>

<p><strong>Age :</strong> <%= student.age %></p>

<p><strong>Course :</strong> <%= student.course %></p>

<a href="/" class="btn btn-primary">

Register Another Student

</a>

<a href="/students" class="btn btn-success">

View Students

</a>

</div>

</div>

</body>

</html>